---
title: "Dynasty: Promise-based DynamoDB Client for Node"
layout: default
description: >
  Dynasty: Promise-based DynamoDB Client for Node
version: 0.0.1
github_url: https://github.com/victorquinn/dynasty
---

<div id="menu_icon">≣</div>

<aside id="sidebar" class="interface">

  <a class="toc_title" href="#">
    Dynasty.js <span class="version">({{ page.version }})</span>
  </a>

  <ul class=toc_section>
    <li><a href="#download">Download</a></li>
    <li><a href="#todo">Todo</a></li>
    <li><a href="#changelog">Change Log</a></li>
    <li><a href="#thanks">Acknowledgements</a></li>
  </ul>

  <a class=toc_title href="#usage">Getting Started</a>
  {% assign posts = site.categories.usage %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#basic">Basic</a>
  {% assign posts = site.categories.basic %}
  {% include methods_sidebar.html %}

</aside>

<div class="container">

  <header>
  <h1><img src=logo.png alt=Dynasty.js></h1>

  <p><b>Dynasty</b> is a promise-based <a href="https://aws.amazon.com/dynamodb/">Amazon DynamoDB</a> client for <a href="http://nodejs.org">Node</a>.</p>
  <p><a href="https://aws.amazon.com/dynamodb/">DynamoDB</a> is Amazon's high performance, all SSD backed, fully managed NoSQL database offering. This library was built in an attempt to make it a bit more easy to work with.</p>
  <p>
    This library is a bit in its early stages, so if you're looking for things to be 100% stable and feature complete, it may be worth looking at other options unless you're somewhat adventurous. And if you're the adventurous type, please help out and send some pull requests!
  </p>
  <p>
    Dynasty is open source software and is released under the
    developer and business-friendly
    <a href="http://en.wikipedia.org/wiki/MIT_License">MIT license</a>.
  </p>
  <p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://dynastyjs.com/" data-text="Dynasty: Promise-based DynamoDB Client for Node" data-count="horizontal" data-via="victorquinn">Tweet</a><a href="https://coderwall.com/victorquinn"><img alt="Endorse victorquinn on Coderwall" src="https://api.coderwall.com/victorquinn/endorsecount.png" /></a>
  </p>
  <p>
    Written by <a href="http://victorquinn.com">Victor Quinn</a>
  </p>
  <!--
  <h3 id=download>Download Chance</h3>

  <ul class=downloads>
    <li>
      <a href="chance.js" class="download" download="chance.js">chance.js v{{ page.version }} (for development)</a>
      - <i>41.0kB uncompressed</i>
    </li>
    <li>
      <a href="chance.min.js" class="download">chance.min.js v{{ page.version }} (for production)</a>
      – <i>5.9kB when gzipped</i>
    </li>
  </ul>
  -->
  <p>
    Or <b><a href="{{ page.github_url }}">grab the latest version on Github</a></b>.
  </p>
  
  <ul class=downloads>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=victorquinn&repo=dynasty&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=victorquinn&repo=dynasty&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </li>
  </ul>

  <section id=documentation>
    <hr>

    <h2 id="usage">Getting Started</h2>
    {% assign posts = site.categories.usage %}
    {% include methods_full.html %}

    <h2 id="basic">Basic</h2>
    {% assign posts = site.categories.basic %}
    {% include methods_full.html %}

    <hr>
    <h2 id="changelog">Change Log</h2>
    {% for change in site.categories.changelog %}
    <article class=changelog id="changelog-{{ change.title }}">
      <h3>
        {{ change.title }}
        <small>&mdash; <i>{{ change.date | date_to_string }}</i>
        {% if change.diff %}&mdash; <a href="{{ page.github_url }}/compare/{{ change.diff }}">diff</a>{% endif %}
        </small>
      </h3>
      {{ change.content }}
    </article>
    {% endfor %}
  </section>

  <h2 id="thanks">Acknowledgements & Thanks</h2>
  <p>
    This documentation is based on the layout of the
    <a href="https://zeptojs.com">Zepto.js</a> which itself is based on the layout of the
    <a href="https://github.com/documentcloud/backbone/">Backbone.js</a>
    documentation, which is released under the
    <a href="https://github.com/documentcloud/backbone/blob/master/LICENSE">MIT license</a>.
  </p>
  <p>
    This library is built on top of <a href="https://github.com/teleportd">@teleportd</a>'s <a href="https://npmjs.org/package/dynamodb">node-dynamodb</a> library.
  </p>
  <p>
    And of course a monster thank you to all of the <a href="https://github.com/victorquinn/dynasty/graphs/contributors">Contributors</a> to this project!
  </p>
  <p>
    <small>
      &copy; 2013 <a href="http://victorquinn.com">Victor Quinn</a><br />Like this? Also check out <a href="http://chancejs.com">Chance</a><br><a href="https://coderwall.com/victorquinn"><img alt="Endorse victorquinn on Coderwall" src="https://api.coderwall.com/victorquinn/endorsecount.png" /></a><br>
      Dynasty and this documentation are released under the terms of the <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">MIT license</a>.
    </small>
  </p>

  <footer>
  </footer>
</div>

<script src="zepto.min.js"></script>
<script src="touch.js"></script>

<script>
  var reflowTimeout;
  
  function injectScript(src) {
    var s = document.createElement('script')
    s.src = src; s.async = true
    $('script').first().before(s)
  }

  // Reflow all elements on the page.
  function reflowFixedPositions() {
    var docStyle = document.documentElement.style
    docStyle.paddingRight = '1px'
    setTimeout(function(){ docStyle.paddingRight = '' }, 0)
  }

  $('.signature code').html(function(i, html){
    return html
      .replace(/\[([^\[]+)\]$/mg, '<span class=version>$1+</span>')
      .replace(/\)([^()]+)$/mg, ') <span class=return>$1</span>')
  })

  $(document).on('mouseover', 'span.version', function(){
    var el = $(this)
    if (!el.attr('title'))
      el.attr('title', "This feature is only available in Zepto " + el.text())
  })

  if ($.os.ios || /\bMac.+\bSafari\b/.test(navigator.userAgent))
    $(document.body).addClass('emoji-enabled')
    
  // don't follow links when the sidebar is tap-enabled
  $('#sidebar').on('click', 'a', function(e){
    return !$('body').hasClass('navigating')
  })

  $('#sidebar').on('tap', 'a', function(e){
    location.href = this.href;

    closeMenu()
    setTimeout(function(){
      // fixes sidebar becoming unscrollable in Safari 6
      reflowFixedPositions()
    }, 10)    
    return false
  })
  
  $(window).on('scroll', function(){
    if(reflowTimeout) clearTimeout(reflowTimeout)
    reflowTimeout = setTimeout(reflowFixedPositions, 200)
  })
  
  function closeMenu(){
    if ($('body').hasClass('navigating')) {
      $('body').removeClass('navigating')
      setTimeout(function(){
        $('#sidebar').css('display','none')
      }, 350)
    }
  }
  
  // show/hide menu on mobile
  $('#menu_icon').on('tap', function(){
    if ($('body').hasClass('navigating')) {
      closeMenu()
    } else {
      $('#sidebar').css('display','block')
      $('#sidebar')[0].offsetLeft // force render
      $('body').addClass('navigating')
    }
    return false
  })

  // change the title of the page so bookmarks have a better default
  if ($.os.ios || $.os.android)
    document.title = 'Dynasty Docs'

  // For retina screens, use a hi-res version of the tour image.
  // We're swapping this out on-demand (not an ideal solution)
  // to avoid rendering bugs on iOS.
  /*
  $('#tour > img')[0].src =
    ('devicePixelRatio' in window && devicePixelRatio > 1) ?
    'intro2x.jpg' : 'intro.jpg'
  */
  var tour = $('#tour'), tourSlides = tour.children(),
      tourSlide = 0, tourSlidesTotal = 5

  function advanceTourSlide(delta){
    tourSlide = (tourSlide + delta + tourSlidesTotal) % tourSlidesTotal
    var offset = tourSlide * tour.width()
    tourSlides.animate({ translateX: -offset + 'px' })
  }

  tour.on('click swipeLeft', function(){ advanceTourSlide(+1) })
      .on('swipeRight', function(){ advanceTourSlide(-1) })

  if (/^(localhost|dynasty)|\.(dev|local)$/.test(location.hostname) && $.os.iphone && !/Simulator/.test(navigator.userAgent))
    injectScript('livereload.js')

  injectScript('livereload.js')

  injectScript('http://platform.twitter.com/widgets.js')
</script>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5207a188f5a1f572b7000002');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
