.body {
    background-color: #363636;
}

.doc-layout {
    background-color: #363636;
}

.markdown-body h1, h2, h3, h4, h5, p, li {
    color: #fff;
}

.markdown-body a {
    color: #d35400;
}

.menu {
    background-color: #d35400;
}

.-menu-visible .menu-toggle {
    background-color: #d35400;
}

.menu-toggle {
    color: #fff;
    background-color: #d35400;
}

.toc-menu .link.-active, .toc-menu .hlink.-active {
    box-shadow: inset -2px 0 #fff;
}

.toc-menu .-level-1.-parent > .title {
    color: #fff;
}

.toc-menu .-level-1:first-child > .title {
    color: #fff;
}

ul.heading-list .hlink, ul.heading-list .hlink:visited {
    color: #fff;
}

.toc-menu .link, .toc-menu .link:visited {
    color: #fff;
}

ul.heading-list .hlink::before {
    background: #fff;
}

.footer-nav a {
    color: #d35400;
}

.footer-nav .label, .footer-nav .left .title {
    color: #d35400;
}

.header-nav.-expanded .icon {
    color: #fff;
}